<!DOCTYPE html>
<html>
  <head>
    <title>Lab4Assignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p id="notice"><%= notice %></p>
    <a href="../sessions/new.html.erb"><button>Sign-in</button></a>
    <a href="../application/index.html.erb"><button>Log-in</button></a>
    <a href="../sessions/new.html.erb"><button>Log-out</button></a>
    <%= yield %>
  </body>
</html>
